@page "/contact"
@layout CustomerLayout
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Section Begin -->
    <style>
        .content{
        display:flex;
        align-items:center;
        }
    </style>
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6 content">
                    <div class="col-6">
                        <img src="./img/logo.png">
                    </div>
                    <div class="contact__content col-6">
                        <div class="contact__address">
                            <h5>Contact info</h5>
                            <ul>
                                <li>
                                    <h6><i class="fa fa-map-marker"></i> Address</h6>
                                    <p>273 An Dương Vương, Phường 7, Quận 5, TP Hồ Chí Minh</p>
                                </li>
                                <li>
                                    <h6><i class="fa fa-phone"></i> Phone</h6>
                                    <p><span>0123456789</span><span>0987654321</span></p>
                                </li>
                                <li>
                                    <h6><i class="fa fa-headphones"></i> Support</h6>
                                    <p>catvy0612@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12 col-md-6">
                    <div class="contact__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7839.361784123799!2d106.68215917269812!3d10.759058237742146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1653033312252!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
@code {

}
